Package: ros-foxy-depthai-examples
Version: 2.3.0-0focal
Architecture: amd64
Maintainer: sachin <sachin@luxonis.com>
Installed-Size: 1672
Depends: libc6 (>= 2.14), libgcc-s1 (>= 3.0), libstdc++6 (>= 9), libopencv-dev, ros-foxy-camera-info-manager, ros-foxy-cv-bridge, ros-foxy-depth-image-proc, ros-foxy-depthai-bridge, ros-foxy-depthai-ros-msgs, ros-foxy-image-transport, ros-foxy-rclcpp, ros-foxy-robot-state-publisher, ros-foxy-sensor-msgs, ros-foxy-std-msgs, ros-foxy-stereo-msgs, ros-foxy-vision-msgs, ros-foxy-xacro
Section: misc
Priority: optional
Description: The depthai_examples package
